@import '../../../sass/vars';

.carousel {
  // border: 1px solid $white;
}

.portfolio-img {
  width: inherit;
  height: inherit;
}

.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  width: inherit;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  @include flex-box(column, center, center);
}

.overlay:hover {
  opacity: 0.95;
}

.overlay a {
  color: $white;
}

.overlay a:hover {
  @include link-hover($teal);
}

.project-card {
  opacity: 0.98;
  z-index: -300;
  overflow-y: scroll;
}

.carousel {
  z-index: 0;
}

@media (max-width: 1025px) {
  #desktop-projects {
    display: none;
  }
}

@media (min-width: 1200px) {
  .carousel {
    width: 55vw;
  }
  .overlay {
    height: 20vh;
  }
  .project-card {
    height: 10vh;
  }
}

@media (min-width: 1400px) {
  .carousel {
    width: 60vw;
  }
  .overlay {
    height: 15vh;
  }
  .project-card {
    max-width: 70vw;
    height: 10vh;
  }
}
