// colors
$black: #000000;
$gray: #f3f3f3;
$white: #ffffff;
$blue: #73cde8;
$orange: #ffa27a;

// important to affect any bootstrap defaults
$main-font: 'Nunito', sans-serif !important;

// breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//mixin
@mixin link-hover($color: $white) {
  color: $color;
  text-decoration: none;
}

@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
