// colors
$gray: #212529;
$blue-gray: #1c3348;
$white: #ffffff;
$apricot: #e3682a;

// fonts
// important to affect any bootstrap defaults
$main-font: 'Nunito', sans-serif !important;

//mixin

@mixin link-hover($color: $white) {
  color: $color;
  text-decoration: none !important;
}

@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
