$black: #000000;
$white: #ffffff;
$text: #8798ad;

$mint: #c7ddcc;

// $light-Lime: #abd699;
// Fresh Lemon: #ffe26a
// Teal: #75c9b7
// Mint: #c7ddcc
// Navy: #16123f

$main-font: 'Nunito', sans-serif !important;

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// TODO implement on links
@mixin link-hover($color: $white) {
  color: $color;
  text-decoration: none;
}

@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
