@import '../../../sass/vars';
.logo-img {
  width: 5vw;
}

.logo-title {
  color: $white;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// corresponding media queries in Skills.scss
@media (max-width: $breakpoint-lg) {
  .logo-img {
    width: 10vw;
  }
}

// landscape phones
@media (min-width: $breakpoint-xs) and (max-height: 500px) {
  .logo-img {
    width: 8vw;
  }
}
