@import '../../sass/vars';
.Skills {
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 2vw;
  padding-right: 2vw; //
  background: linear-gradient(180deg, $teal 25%, #f69d3c 100%);
  color: $white;
}

.skills-heading {
  font-size: 3.5rem;
}

.hr-color {
  width: 90%;
  border-color: $white;
}

.skills-img {
  width: 75px;
  height: 75px;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .Skills{
    height: 200vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 .skills-img {
    width: 65px;
    height: 65px;
  }
  
  .skills-heading {
    font-size: 3.2rem;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// .skills-img {
//   width: 65px;
//   height: 65px;
// }
// .skills-heading {
//   font-size: 3.2rem;
// }
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
