@import '../../sass/vars';
.Skills {
  width: 100%;
  height: auto;
  color: $white;
  background: linear-gradient(180deg, $apricot 10%, $blue-gray 95%);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 8vh;
}

.grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  place-items: center center;
}

// corresponding media queries in Logo.scss
@media (max-width: 1025px) {
  .grid {
    grid-row-gap: 1.5vw;
    grid-column-gap: 1.5vw;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
