@import '../../sass/vars';
.About {
  width: 100%;
  height: 100vh;
  padding: 5vh;
  background: $teal;
  @include flex-box(row, center, center);
}

.about-img {
  border: 4px solid $white;
  box-shadow: 8px 8px 8px #000000;
}

@media (max-width: 564px) {
  .about-text {
    font-size: 0.8rem;
  }
  .about-img {
    width: 30vh;
  }
}

@media (min-width: 768px) {
  .about-text {
    font-size: 1rem;
  }
  .about-img {
    width: 40vh;
  }
}

@media (min-width: 992px) {
  .about-text {
    font-size: 1.2rem;
  }
  .about-img {
    width: 60vh;
  }
}

@media (min-width: 1200px) {
  .about-text {
    font-size: 1.4rem;
  }
  .about-img {
    width: 50vh;
  }
}
