@import '../../sass/vars';

.about-header,
.about-p {
  color: $white;
}

.about-p {
  line-height: 1.8rem;
}

.about-link {
  color: $white;
  font-weight: bold;
  font-style: italic;
}

.about-link:hover {
  @include link-hover($white);
}

// landscape phones
@media (min-width: $breakpoint-xs) and (max-height: 500px) {
  .about-img {
    width: 30vw;
  }
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  .about-img {
    width: 80vw;
  }
}

@media (min-width: $breakpoint-lg) {
  .about-img {
    width: 30vw;
  }
}

@media (min-width: $breakpoint-xl) {
  .about-img {
    width: 25vw;
  }
}
