@import '../../sass/vars';
.About {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: $apricot;
  @include flex-box(row, center, center);
}

.about-p {
  line-height: 1.8rem;
}

.about-link {
  color: $white;
  font-weight: bold;
  font-style: italic;
}

.about-link:hover {
  @include link-hover($blue-gray);
}

.about-img {
  border: 2px solid $blue-gray;
}

// landscape phones
@media (min-width: $breakpoint-xs) and (max-height: 411px) {
  .about-img {
    width: 30vw;
  }
}

@media (min-width: $breakpoint-lg) {
  .about-img {
    width: 30vw;
  }
}

@media (min-width: $breakpoint-xl) {
  .about-img {
    width: 25vw;
  }
}
