@import '../../sass/vars';
.Home {
  width: 100%;
  height: 100vh;
  background: url('../../assets/code.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gray-overlay {
  width: 100%;
  height: 100vh;
  background: $blue-gray;
  opacity: 0.96;
  @include flex-box(row, center, center);
}

.dev-text {
  color: $apricot;
}
