@import '../../sass/vars';
.Contact-bar {
  width: 100%;
  height: 20vh; //adds up to 94
  background: $apricot;
  @include flex-box(row, space-around, center);
}

.Contact-bar a {
  color: $white;
}

.Contact-bar a:hover {
  color: $white;
  text-decoration: none;
}

.contact-logo {
  width: 8vh;
}

.Contact-info {
  width: 100%;
  height: 74vh; //adds up to 94
  color: $blue-gray;
  @include flex-box(row, center, center);
}

.contact-link  {
  color: $blue-gray;
  font-weight: bold;
}

.contact-link:hover {
  @include link-hover($blue-gray);
}

// landscape phones
@media (min-width: $breakpoint-xs) and (max-height: 500px) {
  .Contact-bar {
    height: 25vh; //adds up to 90
  }
  .Contact-info {
    height: 65vh; //adds up to 90
  }
  .contact-logo {
    width: 10vh;
  }
}