@import '../../sass/vars';
.Contact {
  width: 100%;
  height: 5vh;
  @include flex-box(row, space-around, center);

  a {
    &:hover {
      text-decoration: none !important;
    }

    h5 {
      text-transform: capitalize;
      color: $blue;
    }
    svg {
      width: 20%;
      height: 20%;
      fill: $blue;
    }

    h5,
    svg {
      transition: 0.5s;
    }

    @media (min-width: $breakpoint-lg) {
      &:hover {
        &:nth-child(1) {
          svg {
            fill: $black;
          }
          h5 {
            color: $black;
          }
        }
        &:nth-child(2) {
          svg {
            fill: #2473b1;
          }
          h5 {
            color: #2473b1;
          }
        }
        &:nth-child(3) {
          svg {
            fill: #ad1400;
          }
          h5 {
            color: #ad1400;
          }
        }
      }
    }

    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      & svg {
        width: 40%;
        height: 40%;
      }
    }
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      & svg {
        width: 25%;
        height: 25%;
      }
    }
  }
}
