@import '../../sass/vars';
.contact-bar {
  width: 100%;
  @include flex-box(row, space-around, center);
}

.contact-bar a {
  color: $white;
}

.contact-bar a:hover {
  @include link-hover($white);
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm - 1px) {
  .contact-logo {
    width: 10vw;
  }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl - 1px) {
  .contact-logo {
    width: 6vw;
  }
}

@media (min-width: $breakpoint-xl) {
  .contact-logo {
    width: 4vw;
  }
}
