@import '../../sass/vars';

// reset browser default
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base-layout {
  font-family: $main-font;
  width: 100%;
  height: 100vh;
  background-image: url('../../../public/monterey_background_dark.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-box();
}
