@import '../../sass/vars';
.project-stack-table {
  width: 100%;
  color: $black;
  font-family: sans-serif;

  th,
  td {
    padding-bottom: 15px;
  }

  thead tr th {
    text-transform: uppercase;
    font-weight: 900;
  }
  tbody tr td {
    color: gray;
    text-transform: capitalize;
  }
}
