@import '../../../sass/vars';

.icon-container {
  width: 100%;
  @include flex-box(row, space-around, center);
}

.carousel-img {
  width: 100%;
}

.link-icons {
  width: 10vw;
}

.mobile-carousel-size {
  height: auto;
}

.card-padding {
  padding: 5px;
}

.mobile-carousel-text {
  overflow-y: scroll;
  max-height: 15vh;
}

@media (max-width: 564px) {
  .mobile-carousel-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .mobile-carousel-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) {
  #mobile-carousel {
    display: none;
  }
}
