@import '../../../sass/vars';

.icon-container {
  width: 100%;
  @include flex-box(row, space-around, center);
}

.carousel-img {
  width: 100%;
}

.link-icons {
  width: 8.5vw;
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .link-icons {
    width: 4vw;
  }
}

// landscape phones
@media (min-width: $breakpoint-xs)  and (max-height: 500px) {
  #mobile-carousel {
    // resizes element
    width:40vw;
    // centers elmement  
    margin:auto;
    // stops it from touching contact section when in landscape view
    margin-bottom:5vw !important;

  }
  .link-icons {
    width: 5vw;
  }
}

// breakpoint set a ipad pro largest tablet 
@media (min-width: 1025px) {
  #mobile-carousel {
    display: none;
  }
}
