@import './sass/vars';
// affects fonts across the DOM
body {
  font-family: $main-font;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, $blue-gray 5%, $apricot 85%);
  @include flex-box(row, center, center);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

@media (min-width: $breakpoint-xs) and (max-height: 500px) {
  .App {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
}
