@import '../../sass/vars';

.Skills {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1.5vw;
    grid-column-gap: 1.5vw;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    place-items: center center;
  }

  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
