@import '../../sass/vars';
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  @include flex-box(row, space-between);
}

.mobile-menu .active {
  @include link-hover($blue-gray);
}

.desktop-menu .active {
  @include link-hover($apricot);
}

.nav-text {
  color: $white;
  margin: 0;
  padding: 0;
  // logo spacing from the left
  margin-left: 2vw;
}

// show nav bar onscroll----------------
.nav-static {
  height: 6vh;
  transition: 0.5s;
  background: transparent;
}

.nav-scroll {
  height: 6vh;
  background: $gray;
  transition: 0.5s;
}

// Mobile ------------------------------
.icon {
  width: 8%;
  transition: 0.5s;
  // icon spacing from the right
  margin-right: 2vw;
}

.icon-rotate {
  transform: rotate(90deg);
}

.mobile-menu {
  width: 100%;
  max-height: 94vh;
  position: fixed;
  top: 6vh;
  left: 0;
  background: $apricot;
  transition: 0.5s;
  overflow: hidden;
  @include flex-box(column, center, center);
  z-index: 1;
}

.hide-menu-collapse {
  visibility: hidden;
}

.mobile-menu li {
  width: 100%;
  height: auto;
  margin-bottom: 8vw;
}

.mobile-menu a {
  width: 100vw;
  text-transform: uppercase;
  font-size: 2rem;
}

.mobile-menu-hide {
  height: 0;
}

.moblie-menu-show {
  height: 100vh;
}

.desktop-menu {
  display: none;
}

// desktop -----------------------------
.desktop-menu {
  width: 40vw;
  margin: 0;
  @include flex-box(row, center, center);
}

.desktop-menu a {
  text-transform: uppercase;
  margin-left: 2vw;
}

.desktop-menu a:hover {
  @include link-hover($apricot);
}

// hide mobile menu show desktop menu
@media (min-width: $breakpoint-lg) {
  .icon,
  .mobile-menu {
    display: none;
  }
}

// show mobile menu hide desktop menu
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
  .desktop-menu {
    display: none;
  }
}

// tablets
@media (min-width: $breakpoint-md) and (min-height: 501px) {
  .icon {
    width: 4%;
  }
  .desktop-menu {
    width: 50%;
  }
}

// phones landscape
@media (min-width: $breakpoint-xs) and (max-height: 500px) {
  .nav-static,
  .nav-scroll {
    height: 10vh;
  }
  .desktop-menu {
    display: none;
  }
  .icon {
    width: 4%;
  }
  .mobile-menu {
    max-height: 90vh;
    top: 10vh;
  }
  .mobile-menu li {
    margin-bottom: 1vw;
  }
  .mobile-menu a {
    font-size: 1.5rem;
  }
}
