@import '../../sass/vars';
.nav {
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;
  background: $gray;
  z-index: 1;
  @include flex-box(row, space-around);
}

.nav-text {
  color: $white;
  margin: 0;
}

// show nav bar onscroll----------------
.nav-static {
  height: 6vh;
  transition: 0.5s;
  background: transparent;
}

.nav-scroll {
  height: 6vh;
  background: $gray;
  transition: 0.5s;
}

// Mobile ------------------------------
.icon {
  width: 8%;
  transition: 0.5s;
}

.icon-rotate {
  transform: rotate(90deg);
}

.mobile-menu {
  width: 100%;
  max-height: 94vh;
  position: fixed;
  top: 6vh;
  left: 0;
  background: $apricot;
  transition: 0.5s;
  overflow: hidden;
  @include flex-box(column, center, center);
  z-index: 1;
}

.hide-menu-collapse {
  visibility: hidden;
}

.mobile-menu li {
  width: 100%;
  height: auto;
  margin-bottom: 8vw;
}

.mobile-menu a {
  width: 100vw;
  color: $white;
  text-transform: uppercase;
  font-size: 2rem;
}

.mobile-menu a:hover {
  @include link-hover($white);
}

.mobile-menu-hide {
  height: 0;
}

.moblie-menu-show {
  height: 100vh;
}

.desktop-menu {
  display: none;
}

// desktop -----------------------------
.desktop-menu {
  width: 40vw;
  margin: 0;
  @include flex-box(row, center, center);
}

.desktop-menu li {
  margin-left: 2vw;
}

.desktop-menu li a {
  color: $white;
  text-transform: uppercase;
}

.desktop-menu li a:hover {
  @include link-hover($apricot);
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  // for larger tablets ipad pro
  @media (min-width: 800px) and( max-width: 1024px) {
    .desktop-menu li a {
      font-size: 1.2rem;
    }
  }

  .icon,
  .mobile-menu {
    display: none;
  }
}
