@import '../../sass/vars';

.nav {
  width: 90%;
  position: fixed;
  height: 6vh;
  top: 0;
  background-color: $gray;
  z-index: 1;
  @include flex-box(row, space-between, center);

  #mobile-menu .active,
  #desktop-menu .active {
    @include link-hover($orange);
    pointer-events: none;
    hr {
      visibility: visible;
    }
  }

  .nav-text {
    margin: 0;
    color: $black;
    font-weight: 900;
  }

  .icon {
    transition: 0.5s ease-in-out;
  }

  .icon-rotate {
    transform: rotate(90deg);
  }

  // Mobile ------------------------------
  #mobile-menu {
    width: 100%;
    max-height: 94vh;
    position: fixed;
    top: 6vh;
    left: 0;
    background: $gray;
    transition: 0.5s;
    overflow: hidden;
    @include flex-box(column, center, space-between);
    z-index: 1;

    li {
      width: inherit;
      height: auto;
      margin-bottom: 4vw;

      a {
        width: inherit;
        text-transform: capitalize;
        font-size: 2rem;
        color: $black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .mobile-menu-hide {
    height: 0;
  }

  .moblie-menu-show {
    height: 100vh;
  }

  #desktop-menu {
    display: none;
  }

  // desktop -----------------------------
  #desktop-menu {
    width: 30%;
    margin: 0;
    padding: 0;
    @include flex-box(row, space-between, center);

    li a {
      text-transform: capitalize;
      color: $black;
      font-weight: 700;
      font-size: 1.2rem;
      transition: 0.5s;

      &:hover {
        @include link-hover($blue);
        hr {
          visibility: visible;
          transition: 0.5s ease-in;
        }
      }
    }
    li hr {
      padding: 0;
      margin: 0;
      border-top: 2px solid $black;
      visibility: hidden;
      &:hover {
        visibility: visible;
      }
    }
  }

  // show mobile menu hide desktop menu
  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    #desktop-menu {
      width: 40%;
    }
  }

  // hide mobile menu show desktop menu
  @media (min-width: $breakpoint-lg) {
    .icon,
    #mobile-menu {
      display: none;
    }
  }
  // show mobile menu hide desktop menu
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
    & {
      width: 100%;
    }
    #desktop-menu {
      display: none;
    }
  }

  // phones landscape
  @media (min-width: $breakpoint-xs) and (max-height: 500px) {
    & {
      height: 10vh;
    }
    #desktop-menu {
      display: none;
    }
    #mobile-menu {
      max-height: 90vh;
      top: 10vh;
      li {
        margin-bottom: 1vw;
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
