@import '../../sass/vars';
.Link {
  color: $black;
  font-weight: 900;
  background: linear-gradient(120deg, $blue 35%, $orange 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  padding: 2px 2px 0 2px;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $breakpoint-lg) {
    &:hover {
      color: $black;
      background-size: 100% 88%;
    }
  }
}
