@import '../../sass/vars';
.Link {
  color: inherit;
  font-weight: 1000;
  background: linear-gradient(120deg, $blue 35%, $orange 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    color: inherit;
    text-decoration: none;
    background-size: 100% 88%;
  }
}
